body {
	/* font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	padding: 20px 20px 60px;
	max-width: 680px;
	margin: 0 auto; */
}

.swiper {
	width: 100%;
	height: 100%;

	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	/* height: 110% !important; */
	/* background: #fff; */

	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.1rem;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #ff63c3;
	/* width: 2rem; */
	/* height: 2rem; */
}
span.swiper-pagination-bullet.swiper-pagination-bullet {
	background-color: #ff63c3;
	/* width: 2rem; */
	/* height: 2rem; */
}

.swiper-button-prev {
	color: #81e6d9 !important;
}

.swiper-button-next {
	color: #81e6d9 !important;
}
